{% extends 'base.html.twig' %}

{% block title %}List of the dates{% endblock %}

{% block body %}
    <h1 style="text-align: center"> Welcome !</h1> <br>
    <div class="container">
        <table class="table">

            <a class="btn btn-info mt-2 text-white" href="{{ path('login') }}">Connect</a>
            <a class="btn btn-info mt-2 text-white" href="{{ path('account') }}">New account</a>
{#            <a class="btn btn-danger mt-2 text-white" href="{{ path('main') }}">Back to list</a> PAGE PRINCIPALE LISTE SUR 30 JOURS #}
        </table>
    </div>
{% endblock %}